._.DS_Store
.idea
.*.swp
.project
.idea/
*/build/*
Build
*.moved-aside
*.hmap

FPHClient.xcodeproj/xcuserdata
FPHClient.xcodeproj/project.xcworkspace
profile

.DS_Store
.svn

*.xcworkspace
*.xcbkptlist
*.xccheckout

*.xcodeproj/*
!*.xcodeproj/project.pbxproj

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3


!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

DerivedData/
build/
Pods/
xcuserdata/

